*{
    padding: 0px;
    margin: 0px;
    
}
.logo img{
    height: 55px;
    padding: 13px;
    border: 4px solid transparent;
    border-radius: 50px;
    cursor: default;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    
}
.nav-list{
    width: 50%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    
}

.nav-list li{
    list-style-type: none;
    padding: 20px;
    margin: 13px;
    font-size: 20px;
    

    
}
ul li:hover{
    background-color: aqua;
    transition: 1s ease;
    border-radius: 50px;
}

    
.nav-list li a{
    text-decoration: none;
    color: white;
    
}
.nav-list li a:hover{
    text-decoration: none;
    color: rgb(102, 99, 99);
    
}
  
.rightnav{
    width: 50%;
    /* background-color: violet; */
    text-align: right;
    padding: 0 23px;
    
}
#search{
    padding: 5px;
    font-size:17px ;
    border: 2px solid gray;
    border-radius: 9px;
}
.background{
    background: rgba(0, 0, 0, 0.7) url('image/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
    
}
.firstsection{
    height: 100vh;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
     
}
.firsthalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondhalf{
    width: 30%;
    
}
.secondhalf img{
    width: 70%;
    padding: 8px 0;
    border: 1px solid transparent;
    border-radius: 140px;
    display: block;
    margin: auto;
    
}
.text-big{
    font-size: 41px;
}
.text-small{
font-size: 18px;
}
.btn{
    padding: 10px 20px;
    margin: 7px 10px;
    border: 1px solid white;
    background: none;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    
}
.btn:hover{
    background-color: aqua;
    transition: 3s ease;
    border-radius: 50px;
    
}
.btn-sn{
    padding: 5px 15px;
    vertical-align: middle;
    border-radius: 14px;
}
.back{
    background: rgba(0, 0, 0, 0.7) url('image/bg2.jpg');
    background-size: cover;
    background-blend-mode: darken;
    
}
.fhalf{
    color: white;

    width: 50%;
    
}
.heading{
   font-size: 70px;
   padding: 0 50px;
   text-shadow: 4px 4px 3px #e27f7f;

}
.text-small1{
    width: 50%;
    padding: 50px 50px;
    font-size: 18px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 50px;
    
}
.newsection{
    height: 100vh;
}
.shalf img{
    width: 50%;
    padding: 9px 50px;
    border: 1px solid transparent;
    border-radius: 140px;
    display: block;
    margin: 50px;
    justify-content: center;
    text-align: center;
    

}
.contactsection{
    background: radial-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('image/contactpage.jpg') ;
    height: 80vh;
    background-position: center;
    background-size: cover;
    
}
.registrationpage{
    background: url('image/contactpage.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
   
   
}
.form{
    float: left;
    padding: 10px 180px;
}
.headname{
    font-size: 26px;
    font-weight: bold;
    padding: 70px 163px;
}
label{
    font-size: 30px;
    color: black;
    font-weight: bold;
}
#name{
    font-size: 20px;
}
.border{
    border: none;
    height: 100vh;
    width: 80vh;
    background: rgba(117, 115, 115, 0.5);

}